{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block form_top %}
  {% if not is_popup %}
  <div class="form-intro notification is-info is-light">
    <i class="fas fa-user-plus"></i> 填写基本信息创建用户，后续可编辑更多个人信息与权限设置。
  </div>
  {% endif %}
{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/unusable_password_field.css' %}">
{% endblock %}
{% block admin_change_form_document_ready %}
  {{ block.super }}
  <script src="{% static 'admin/js/unusable_password_field.js' %}" defer></script>
{% endblock %}
